<html>
    <head>
        {% load static %}
        <link href="../static/css/homep.css" rel="stylesheet" >
        <title>Main</title>
        </head>
    </head>
    <body>
    <h2>Красивое название</h2> 
    <div class="font"><h3 class="L">Войти</h3></div>
    <div class="font"><h3 class="R">Зарегестрироваться </h3></div>
    <form action="tests.html">
    <button class="a">Тесты 
        <!-- <a href="tests.html"></a> -->
    </form>
    </button>
    <form action="content.html">
    <button class="b">Статьи 
        <!-- <a href="content.html"></a> -->  
    </button>
    </form>
    <form action="about.html">
    <button class="c">О нас</button>
    </form>
    </body>
</html>