<head>
    {% load static %}
    <link href="../static/css/about.css" rel="stylesheet" >
    <style>
        body {
                background-color: #e6eceb;
        }
    </style>
</head>


 <table class="tab" cellspacing="35"  width="80%">
    <td></td>
    <td class="font" align="center">Главная</td>
    <td></td>
    <td class="font" align="center">О нас</td>
    <td ></td>
    <td class="font" align="center">Статьи</td>
    <td></td>
    <td class="font" align="center">Личный кабинет</td>
</table>

<br> 
<p class="title">Тесты</p>
<br>
<div class="text">
    <p class="content">кекеке бобобо мумуму каменщики</p>
</div>