@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Montserrat:wght@300&family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=M+PLUS+1p:wght@300&family=Montserrat:wght@300&family=PT+Sans+Narrow&display=swap');

.tab {
    margin-top: 10;
    margin-left: 150;
    margin-right: auto;
    position: fixed;
    border-radius: 60px;
    background-color: #aacad725;
}

.font {
    font-size: 25px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #005f89;
}

.font:hover {
    transition: color .3s;
    transition: background .3s;
    border-radius: 50px;
    font-size: 26px;
    color: #000;
    background: rgba(255, 255, 255, 0.329);
}



.title {
    font-family: 'Cormorant Garamond', serif;
    font-size: 80px;
    color: #82b4be;
    margin-top: 100px;
    margin-left: 100px;
}

.text {
    background-color: #dde9e959;
    margin-left: 242;
    width: 65%;
    height: 100%;
}

.content {
    font-family: 'Cormorant Garamond', serif;
    font-size: 40px;
    color: #899cad;
}